<header>
    <nav
        class="is-fixed-top navbar"
        role="navigation"
        aria-label="main navigation"
    >
        <div class="navbar-brand">
            <a class="navbar-item" href="/login">
                <img src="/static/images/icon.png" alt="PhoneSQL logo" />
            </a>
            <a class="navbar-item" href="/login">
                <span class="material-symbols-outlined"> logout </span>
            </a>
        </div>
    </nav>
</header>
