<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>PhoneSQL</title>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <script
        type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>

    <link
        href="https://cdn.datatables.net/v/bm/dt-2.3.2/datatables.min.css"
        rel="stylesheet"
        integrity="sha384-lcweTT34BgF7atop9guP1YvuCYIKE0lwW7SxEeU6ml1bdTVKAWr10LtDW1q9/tsY"
        crossorigin="anonymous"
    />

    <script
        src="https://cdn.datatables.net/v/bm/dt-2.3.2/datatables.min.js"
        integrity="sha384-KHxoFaaE7/r07SLDWdYBPAX1ChTSOPJd/CC0JIflFbCiGujNq7zrUlTx7HLM8Kih"
        crossorigin="anonymous"
    ></script>

    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=chevron_right,logout&display=block"
        rel="stylesheet"
    />

    <script type="text/javascript" src="/static/js/main.js"></script>

    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
</head>
